img.bigmac {
  width: auto;
  max-height: 75vh;
  max-width: 100vw;

  /* Center image horizontally: https://stackoverflow.com/a/23991615/473672 */
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
