Source: bubblemon
Section: x11
Priority: optional
Maintainer: Bernd Eckenfels <ecki@debian.org>
Build-Depends: debhelper, libgnome-dev, libgtop-dev, libpanel-applet-dev, liborbit-dev, libzvt-dev, libgtk1.2-dev
Standards-Version: 3.5.0

Package: bubblemon
Architecture: any
Depends: ${shlibs:Depends}
Description: Bubbling Load Monitoring Gnome Applet
 A GNOME panel applet that displays the CPU + memory load as a bubbling
 liquid.
